.DS_Store
.dart_tool/
.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
pubspec.lock
.idea
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
ios/Pods/
android/.gradle/
local.properties
*.log
*.txt
build/