.DS_Store
.dart_tool/
.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner/GeneratedPluginRegistrant.*
ios/Pods/
android/.gradle/
local.properties

*.iml
pubspec.lock
.idea
*.log

