.DS_Store
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner/GeneratedPluginRegistrant.*
ios/Pods/
android/.gradle/
local.properties

*.iml
pubspec.lock
.idea
*.log

0
test_results.txt

# Docs specific ignores
doc/node_modules/